<div class="page-header">
  <h2><%= t '.page-title' %></h2>
</div>

<%= render 'legal' %>

<%= link_to t('.download-csv'), url_for(format: :csv), style: 'float:right' %>

<p>
  <strong><%= pluralize Member.count, Member.model_name.human %></strong>
  <%= link_to t('.new-member'), new_admin_member_path %>
</p>

<table class='table'>
  <thead>
    <tr>
      <th><%= Member.human_attribute_name(:full_name) %></th>
      <th><%= Member.human_attribute_name(:joined) %></th>
      <th><%= Member.human_attribute_name(:email) %></th>
      <th><%= Member.human_attribute_name(:address) %></th>
      <th><%= Member.human_attribute_name(:phone) %></th>
      <th><%= Member.human_attribute_name(:updated) %></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.full_name, [:admin, member] %></td>
        <td><%= member.join_date.to_fs(:long) %></td>
        <td><%= member.email %></td>
        <td><%= member.address %></td>
        <td><%= member.phone %></td>
        <td><%= time_ago_span(member.updated_at) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

