<h2><%= t '.page-title' %></h2>

<%= render 'legal' %>

<%= link_to t(:new_member), new_admin_member_path %>

<table class='table'>
  <thead>
    <tr>
      <th><%= Member.human_attribute_name(:full_name) %></th>
      <th><%= Member.human_attribute_name(:joined) %></th>
      <th><%= Member.human_attribute_name(:email) %></th>
      <th><%= Member.human_attribute_name(:address) %></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.full_name, [:admin, member] %></td>
        <td><%= member.join_date.to_s(:long) %></td>
        <td><%= member.email %></td>
        <td><%= member.address %></td>
      </tr>
    <% end %>
  </tbody>
</table>

