<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex">
  <title>Official Membership Register | Ruby New Zealand Incorporated</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="content">
      <h1>
        Official Membership Register
        <small>Ruby New Zealand Incorporated</small>
      </h1>
    </div>
  </header>

  <div class="content">
    <div class="flash">
      <%= flash[:notice] %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
