<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Official Membership Register | Ruby New Zealand Incorporated</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body>
    <header>
      <div class="container">

          <h1>
            <a href="/">
            Official Membership Register
            <small>Ruby New Zealand Incorporated</small>
            </a>
          </h1>

      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>

    <footer class='page-footer'>
      <div class="container">
        If you have any questions, feedback, or problems,
        please email <a href="mailto:secretary@ruby.nz">secretary@ruby.nz</a>
        or raise a <%= link_to "pull request", ENV.fetch("REPO_URL") { "https://github.com/rubynz/membership-register" } %>.
      </div>
    </footer>

    <%= javascript_include_tag "application", defer: true %>
    <%= csrf_meta_tags %>
  </body>
</html>
