<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @member.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Destroy', @member, method: :delete, data: { confirm: 'Are you sure?' } %>
